/* 모바일용 CSS */
/* 기본 CSS */
.container {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}

.cfixed:after,
.container:after {
  display: block;
  content: "";
  clear: both;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.sec-tit {
  font-size: 42px;
  color: #3f51b5;
  font-weight: normal;
}

.divider {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
  margin-top: 77px;
  background: #eee;
}

.m-divider {
  width: 20px;
  margin: 0 auto;
  margin-top: 77px;
  background: #3f51b5;
}

/* 헤더 영역 CSS */
.header {
  position: relative;
  padding: 18px 5%;
}

.header .logo {
  float: left;
}

.header .logo a {
  font-size: 26px;
  color: #3f51b5;
  font-weight: normal;
}

.header .gnb {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #3f51b5;
}

.header .gnb li {
  border-bottom: 1px solid #303f9f;
}

.header .gnb li a {
  display: block;
  padding: 14px 0 14px 5%;
  font-size: 14px;
  color: #fff;
}

.header .menu-toggle-btn {
  float: right;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
}

.header .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3f51b5;
}

.header .menu-toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

/* 슬라이더 영역 CSS */
.slider img {
  display: block;
  width: 100%;
  min-width: 100%;
  height: auto;
}

/* 디스플레이 영역 CSS */
.display-section {
  margin-top: 59px;
  text-align: center;
}

.display-section .sec-tit {
  margin-bottom: 30px;
}

.display-section .desc {
  font-family: "PT Serif";
  color: #616161;
  line-height: 1.9;
}

/* 프로모션 영역 CSS */
.promotion-section {
  margin-top: 68px;
}

.promotion-section .promo-list li {
  margin-top: 52px;
  text-align: center;
}

.promotion-section .promo-list li:first-child {
  margin-top: 0;
}

.promotion-section .promo-list li img {
  height: 52px;
}

.promotion-section .promo-list li h3 {
  margin: 29px 0 20px 0;
  color: #3f51b5;
  font-weight: normal;
}

.promotion-section .promo-list li p {
  font-size: 14px;
  font-family: "PT Serif";
  color: #616161;
  line-height: 1.5;
}

/* 태블릿용 CSS */
@media all and (min-width: 768px) {
  /* 기본 CSS */
  .divider {
    margin-top: 124px;
  }

  .m-divider {
    margin-top: 124px;
  }

  /* 헤더 영역 CSS */
  .header {
    position: static;
    padding: 28px 52px;
  }

  .header .gnb {
    display: block !important;
    position: static;
    float: right;
    width: auto;
    margin-top: 6px;
    background: none;
  }

  .header .gnb li {
    float: left;
    margin-left: 21px;
    border-bottom: 0;
  }

  .header .gnb li a {
    color: #3f51b5;
    padding: 0;
    font-size: 16px;
  }

  .header .menu-toggle-btn {
    display: none !important;
  }

  /* 디스플레이 영역 CSS */
  .display-section {
    margin-top: 95px;
  }

  /* 프로모션 영역 CSS */
  .promotion-section {
    margin-top: 110px;
  }

  .promotion-section .promo-list li {
    float: left;
    width: 23.046875%; /* 177px ÷ 768px */
    margin-left: 2.604167%; /* 20px ÷ 768px */
    margin-top: 0;
  }

  .promotion-section .promo-list li:first-child {
    margin-left: 0;
  }
}

/* PC용 CSS */
@media all and (min-width: 1132px) {
  /* 디스플레이 영역 CSS */
  .display-section {
    text-align: left;
  }

  .display-section .sec-tit {
    float: left;
    margin-bottom: 0;
  }

  .display-section .desc {
    position: relative;
    float: right;
    padding-left: 20px;
    font-family: "PT Serif";
    color: #616161;
    line-height: 1.9;
  }

  .display-section .desc::before {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 2px;
    height: 44px;
    background-color: #e0e0e0;
    content: "";
  }

  .promotion-section .promo-list li {
    width: 23.674912%; /* 268px ÷ 1132px */
    margin-left: 1.766784%; /* 20px ÷ 1132px */
  }
}
